/* Common */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 18px;
  color: #787878;
}
.responsive {
  margin: 0 auto;
  max-width: 1300px;
}
/* Common */
/* start: header */
.Header {
  color: #e9e9e9;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(233, 233, 233, 1);
}
.Header__logo {
  width: 31px;
  height: 25px;
  margin: auto 100px;
}
.Header__toggle {
  font-size: 40px;
  color: #e9e9e9;
  display: none;
}
.Header-nav {
  text-transform: uppercase;
  display: flex;
}
.Header-nav__lnk {
  line-height: 100px;
  padding: 0 20px;
  color: black;
}
.Header-nav__lnk:hover {
  color: #10c9c3;
  cursor: pointer;
}
.Banner {
  height: 600px;
  display: flex;
  background-color: rgba(233, 233, 233, 1);
}
.Banner__img {
  background-image: url(https://vietnamtimes.org.vn/stores/news_dataimages/honganhvnt/012022/09/15/in_article/3107_2934_vna_potal_khai_mac_trien_lam_anh_Yviet_nam_-_an_do_50_nam_hop_tacY_5858737.jpg?rt=20220109153219);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 600px;
}
.Banner-intro {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Banner-intro-content {
  margin: 70px;
}
.Banner-intro-content h2 {
  font-size: 30px;
  margin: 24px 0;
}
.Banner-intro-content p {
  margin: 24px 0;
}
.Banner-intro-content__btn {
  margin: 24px 0;
  position: relative;
  background-color: #10c9c3;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 30px;
}
.Banner-intro-content__btn:hover {
  cursor: pointer;
}
/* end: header */
/* start: main */
/* start:content-about */
.Main-about {
  padding: 70px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Main-about h3,
.Main-about__text {
  font-size: Montserrat;
  width: 100%;
  margin: 16px 0;
}
.Main-about h3 {
  font-size: 30px;
  font-weight: 700;
}
.Main-about__text {
  font-size: 16px;
}
.Main-about__img {
  display: block;
  margin: 16px auto;
}
/* end: main-about */
/* start:content-graph */
.Main-graphs {
  display: flex;
  height: 570px;
}
.Main-graphs-left {
  background-color: rgba(248, 249, 249, 1);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Main-graphs-left-text,
.Main-graphs-left-skill {
  margin: 24px 0;
  width: 70%;
}
.Main-graphs-left-skill-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgba(216, 216, 216, 1);
  margin: 16px 0;
}
.Main-graphs-left-skill-bar__75pc,
.Main-graphs-left-skill-bar__90pc,
.Main-graphs-left-skill-bar__65pc {
  position: absolute;
  height: 3px;
  background-color: rgba(16, 201, 195, 1);
}
.Main-graphs-left-skill-bar__75pc {
  width: 75%;
}
.Main-graphs-left-skill-bar__90pc {
  width: 90%;
}
.Main-graphs-left-skill-bar__65pc {
  width: 65%;
}
/* end: main-graph */
/* start: main-result */
.Main-results {
  height: 240px;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  background-color: rgba(16, 201, 195, 1);
}
.Main-results img {
  width: 48px;
  height: 48px;
}
.Main-results-box {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: auto;
}
.Main-results-box-item {
  margin: auto 70px;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: auto;
}
.Main-results-box-item span {
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  display: block;
}
.Main-results-box-item__top {
  font-size: 18px;
}
.Main-results-box-item__btm {
  font-size: 12px;
}
/* end: main-result */
/* start: main-boxes */
.Main-boxes-list {
  display: flex;
  width: 100%;
  height: 300px;
}
.Main-boxes-list__item {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: rgba(221, 221, 221, 1);
}
.Main-boxes-list__item:nth-child(2n + 1) {
  background-color: rgba(131, 131, 131, 1);
}
.Main-boxes-list--odd .Main-boxes-list__item {
  background-color: rgba(131, 131, 131, 1);
}
.Main-boxes-list--odd .Main-boxes-list__item:nth-child(2n + 1) {
  background-color: rgba(221, 221, 221, 1);
}
.Main-boxes-list__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background-image: url(./img/Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
.Main-boxes-list .Main-boxes-list__item:hover {
  background-color: rgba(20, 20, 20, 1);
  cursor: pointer;
}
.Main-boxes-list .Main-boxes-list__item:hover::after {
  opacity: 1;
}
.Main-boxes__more {
  height: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: rgba(245, 245, 245, 1);
}
.Main-boxes__more p {
  line-height: 100px;
}
.Main-boxes__more:hover {
  cursor: pointer;
}
/* end: main-boxes */
/* start: main-video */
.Main-video__container {
  position: relative;
  max-width: 1170px;
  padding-top: 56.25%;
  overflow: hidden;
  margin: 0 auto;
}
.Main-video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* end: main-video */
/* start: icons */
.Main-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 60px;
}
.Main-icons-item {
  text-align: center;
}
.Main-icons-item__title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
}
.Main-icons-item__content {
  font-size: 16px;
}
/* end: icons */
/* start: main-slider */
.Main-slider {
  height: 500px;
  background-color: #10c9c3;
  padding-top: 150px;
}
.Main-slider-quote {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Main-slider-quote h3 {
  font-family: Montserrat;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
.Main-slider-quote p {
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  margin-top: 85px;
}
.Main-slider-dots {
  display: flex;
  margin-top: 90px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
}
.Main-slider-dots__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(176, 232, 230, 1);
  margin: 0 10px;
}
.Main-slider-dots--big {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
/* end: main-slider */
/* start: main-logos */
.Main-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main-logos__img {
  margin: 50px;
}
/* end: main-logos */
/* start: main-input */
.Main-input {
  background-color: rgba(245, 245, 245, 1);
  padding-bottom: 24px;
}
.Main-about h3 {
  font-weight: 400px;
  font-family: Montserrat;
  font-size: 30px;
}
form {
  max-width: 670px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
input,
textarea {
  padding: 12px;
  border: none;
}
input::placeholder,
textarea::placeholder {
  color: rgba(120, 120, 120, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
}
.Main-input-personal {
  display: flex;
  gap: 14px;
}
.Main-input-personal input {
  flex: 1;
}
button {
  border: none;
  width: 180px;
  height: 54px;
  margin: 0 auto;
}
/* end: main-input */
/* start: footer */
.footer {
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}
.Footer-outline {
  width: 100%;
  height: 81.63px;
  color: #bcbcbc;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.Footer-outline-company__name {
  color: #ffffff;
  font-size: 18px;
}
.Footer-outline-links {
  font-size: 15px;
  width: 168.73px;
  height: 72.52px;
  display: flex;
  justify-content: space-between;
}
/* end: footer */
/* Responsive */
@media (max-width: 740px) {
  .Header__toggle {
    display: block;
  }
  .Header-nav {
    position: fixed;
    right: -100%;
    top: 100px;
    width: 30%;
    gap: 0;
    margin: 0 auto;
    background-color: #ffffff;
    flex-direction: column;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
  }
  .Header-nav__lnk {
    margin: 16px 0;
  }
  .Header-nav:active {
    right: 0;
  }
  .Banner-intro {
    width: 100%;
  }
  .Banner__img {
    display: none;
  }
  .Main-graphs-left {
    width: 100%;
  }
  .Main-results-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .Main-boxes-list {
    display: flex;
    flex-direction: column;
  }
  .Main-boxes-list--odd .Main-boxes-list__item {
    background-color: rgba(221, 221, 221, 1);
  }
  .Main-boxes-list--odd .Main-boxes-list__item:nth-child(2n + 1) {
    background-color: rgba(131, 131, 131, 1);
  }
  .Main-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .Main-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .Main-input-personal {
    flex-direction: column;
  }
  .Footer--responsive {
    flex-direction: column;
  }
}
