/* Common */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;

}
body{
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
    color: #787878;
}
/* Common */
/* start: header */
.responsive{

}
.header{
    color: #E9E9E9;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(233, 233, 233, 1);
}
.header__logo{
    width: 31px;
    height: 25px;
    margin: auto 100px;
}
.header__toggle{
    font-size: 40px;
    display: none;
}
.header-nav{
    text-transform: uppercase;
    display: flex;
}
.header-nav__lnk{
    line-height: 100px;
    padding: 0 20px;
    color: black;
}
.header-nav__lnk:hover{
    color: #10C9C3;
    cursor: pointer;
}
.top{
    height: 600px;
    display: flex;
    background-color: rgba(233, 233, 233, 1);
}
.top__img{
    background-image: url(https://vietnamtimes.org.vn/stores/news_dataimages/honganhvnt/012022/09/15/in_article/3107_2934_vna_potal_khai_mac_trien_lam_anh_Yviet_nam_-_an_do_50_nam_hop_tacY_5858737.jpg?rt=20220109153219);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
}
.top-intro{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-intro-content{
    margin: 70px;
}
.top-intro-content strong{
    font-size: 38px;
}
.top-intro-content__btn{
    width: 180px;
    height: 54px;
    margin: 30px 0;
    position: relative;
    background-color: #10C9C3;
}
.top-intro-content__btn::after{
    content: "CONTACT US";
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}
.top-intro-content__btn:hover{
    cursor: pointer;
}
/* end: header */
/* start: content */
.content{

}
/* start:content-about */
.content-about{
    padding-top: 50%;
    padding: 70px 0;
}
.content-about h3, .content-about__text{
    font-size: Montserrat;
    width: 100%;
    text-align: center;
    margin: 16px 0;
}
.content-about h3{
    font-size: 30px;
    font-weight: 700;
}
.content-about__text{
    font-size: 16px;
}
.content-about__img{
    display: block;
    margin: 16px auto;
}
/* end: content-about */
/* start:content-graph */
.content-graphs{
    display: flex;
    height: 570px;
}
.content-graphs-left{
    background-color: rgba(248, 249, 249, 1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-graphs-left-text, .content-graphs-left-skill{
    margin: 24px 0;
    width: 70%;
}
.content-graphs-left-skill-bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(216, 216, 216, 1);
    margin: 16px 0;
}
.content-graphs-left-skill-bar__75pc,
.content-graphs-left-skill-bar__90pc,
.content-graphs-left-skill-bar__65pc
{
    position: absolute;
    height: 3px;
    background-color: rgba(16, 201, 195, 1);
}
.content-graphs-left-skill-bar__75pc{
    width: 75%;
}
.content-graphs-left-skill-bar__90pc{
    width: 90%;
}
.content-graphs-left-skill-bar__65pc{
    width: 65%;
}
/* end: content-graph */
/* start: content-result */
.content-results{
    height: 240px;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: rgba(16, 201, 195, 1);
}
.content-results img{
    width: 48px;
    height: 48px;
}
.content-results-box{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: auto;
}
.content-results-box-item{
    margin: auto 70px;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: auto;
}
.content-results-box-item span{
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    display: block;
}
.content-results-box-item__top{
    font-size: 18px;
}
.content-results-box-item__btm{
    font-size: 12px;
}
/* end: content-result */
/* start: content-boxes */
.content-boxes-first, 
.content-boxes-second{
    display: flex;
    width: 100%;
    height: 300px;
}
.content-boxes-first div:nth-child(2n-1), 
.content-boxes-second div:nth-child(2n){
    background-color: rgba(131, 131, 131, 1);
}
.content-boxes-first__child, .content-boxes-second__child{
    position: relative;
    flex: 1;
    height: 100%;
    background-color: rgba(221, 221, 221, 1);
}
.content-boxes-first__child::after, 
.content-boxes-second__child::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    background-image: url(./img/Icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}
.content-boxes-first__child:hover, 
.content-boxes-second__child:hover{
    background-color: rgba(20, 20, 20, 1);
    cursor: pointer;
}
.content-boxes-first__child:hover::after, 
.content-boxes-second__child:hover::after{
    opacity: 1;
}
.content-boxes__more{
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgba(245, 245, 245, 1);
}
.content-boxes__more p{
    line-height: 100px;
}
/* end: content-boxes */
/* start: content-video */
.content-video{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.content-video h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    margin: 1px auto;
}
.content-video p{
    font-size: 16px;
    margin: 24px auto;
}
iframe{
    margin: 24px auto;

}

/* end: content-video */
.footer{

}